--swiftversion 6.0

--exclude .build
--exclude .diagnostics
--exclude .git
--exclude .swiftpm
--exclude build
--exclude debug-pages
--exclude DerivedData
--exclude docs
--exclude ManualTests
--exclude release
--exclude Sumi.xcodeproj
--exclude Vendor

--indent 4
--tab-width 4
--linebreaks lf
--trim-whitespace always
--max-width none
--wrap-arguments preserve
--wrap-parameters preserve
--wrap-collections preserve
--wrap-conditions preserve
--ranges no-space
--trailing-commas always

--disable all
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable braces
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable linebreakAtEndOfFile
--enable linebreaks
--enable redundantBreak
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantReturn
--enable redundantVoidReturnType
--enable semicolons
--enable sortImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--enable void
